.services{
    .text-heading{
        margin-top:94px;
        h4{
            font-family: 'Poppins' sans-serif;
        font-size:20px;
         text-align: center;
         line-height: 25px;
         font-weight:700;
         color:red;
        }
        h2{
          text-align: center;
          font-weight: 700;
          font-size:50px;
          line-height:67px;
        align-items: center;
        }
    }
    .assistance{
        max-width:1138px;
        display:flex;
       gap:30px;
        .two-blocks{
            margin-top:31px;
            width:33%;
        .services-block{
            
          background: #F3F3F3;
          min-width:360px;
          padding:31px;
          border-radius:10px;
          margin-bottom: 30px;
            .service-card{
               
               h4{
                font-family: 'poppins',sans-serif;
                font-weight: 700;
                font-size:24px;
                line-height: 39px;
                color:#464646;
              }
               p{
                font-family: 'roboto',sans-serif;
                font-weight:400;
                font-size: 18px;
                line-height: 25px;
                color:#787878;
                  }
        }
        }
    }
    .business-woman{
        margin-top: 68px;
    }
    }
}