* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    padding: 5px 20px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.auth-buttons {
    align-items: center;
    display: flex;
    gap: 10px;
}

.button {
    align-items: center;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #0073e6;
    color: #fff;
    border-radius: 5px;
}

.button:hover {
    background-color: #005bb5;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.section-title {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}

.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.post-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 26%;
    border: 1px solid #ccc;
    width: 392px;
    transition: box-shadow 0.3s ease; 
}

.post-card img {
    width: 100%;
    height: 200px;
    max-height: 300px;
    object-fit: cover;
    display: flex;
}

.post-info {
    padding: 15px;
}

.category {
    display: inline-block;
    background-color: #0073e6;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.9em;
}

.post-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.post-meta {
    font-size: 0.9em;
    color: #777;
}

.post-meta .author {
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
}

.all-posts-link:hover {
    color: blue;
}

.all-posts-link {
    transition: color ease-in-out 0.3s;
}

.post-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-description {
    font-size: 1rem;
    color: #666;
}

.section-title {
    text-align: center;
}
.mobile-nav-icon{
    display: none;
}
.mobile-navbar-btn {
    display: none;}
/* Responsive styles */
@media (max-width: 980px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    
    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .mobile-navbar-btn {
        display: block;
        align-items: center;
        cursor: pointer;
    }

    .mobile-nav-icon {
        font-size: 1.5rem;
        color: #333;
        position: absolute;
        right: 25px;
    }

    .mobile-nav-icon.hidden {
        display: none;
    }

    .close-icon.hidden {
        display: none;
    }

    .auth-buttons {
        display: none;
    }

}
.show{
    display: block;
}
.hide{
    display: none;
}
